/* ================================= 
  Fonts
==================================== */

//Google Fonts

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Courgette);


//Font Stack Variables

$stack-opensans: 'Open Sans', sans-serif;
$stack-courgette: 'Courgette', cursive;


//Font Size Variables

$font-size-large: 1.5em;
$font-size-medium: 1.1em;
$font-size-small: .95em;
$font-size-xsmall: .8em;
