//Color Variables ("crayola" naming method)
$solitude-blue: #E4F1FE;
$viking-blue: #66c5da;
$hummingbird: #C5EFF7;
$highlight-color: #fff;
$apricot-pink: #ed9286;
$malibu-blue: #6DB6F1;
$wistful-purple: #9992c8;


//Text Colors
$text-color-dark: #494a49;
$text-color-light: #7e7f7e;


//Social Media Icon Colors
$facebook-blue: #3B5998;
$twitter-blue: #55acee;
$linkedin-blue: #0077b5;
$github-blue: #4183c4;


//Margins
$side-margin: 7.3%;

